---
layout: base.njk
title: GeneXus Blog
lang: pt
translationKey: home
permalink: /pt/
---
<h1>GeneXus Blog</h1>
<ul class="post-list">
  {%- for post in collections.posts | postsByLang("pt") | reverse -%}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | readableDate }}</time>
  </li>
  {%- endfor -%}
</ul>
